a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.mainHeader {
  background-color: #111;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.mainHeader__title {
  color: white;
  text-decoration: none;
  
}
